
.coverage*
*.tmp
*.log
*.pyc
*.gpkg-*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
tests/data/testdata.qgz

build/
dist/
docs/_autosummary
docs/_build
docs/api
geofileops.egg-info/
htmlcov/
local_ignore/
