ci:
    autofix_prs: false
    autoupdate_schedule: weekly

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.13"
    hooks:
      - id: ruff-format
      - id: ruff
        # args: [ --fix ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.8.0"
    hooks:
      - id: mypy