ci:
    autofix_prs: false
    autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      # Format the code
      - id: ruff-format
      # Lint the code
      - id: ruff
        # args: [ --fix ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.1"
    hooks:
      - id: mypy