name: geofileops-dev
channels:
  # - gdal-master  # If uncommented, GDAL master will be used for the environment.
  - conda-forge
dependencies:
  - python =3.12
  - pip
  # required
  - cloudpickle
  - gdal >=3.6.3
  - geopandas-base >=0.12
  - libspatialite >=5.0
  # - nomkl  # Use openblas instead of mkl saves 600 MB. Linux OK, 50% slower on Windows and OSX!
  - numpy
  - packaging
  - pandas
  - psutil
  - pyarrow
  - pygeoops >=0.4
  - pyogrio >=0.7
  - pyproj
  - shapely >=2
  # optional
  # - fiona  # Not needed anymore except if pyogio < 0.7 is used.
  - matplotlib-base
  - simplification
  # testing
  - pytest
  - pytest-cov
  # linting
  - mypy ==1.15.0
  - pandas-stubs
  - pre-commit
  - ruff ==0.11.0
  - types-pillow
  # docs
  - pydata-sphinx-theme
  - sphinx-automodapi