name: geofileops-dev
channels:
  - conda-forge
dependencies:
  - python =3.10
  - pip
  # required
  - cloudpickle
  - gdal >=3.6.3
  - geopandas-base >=0.12
  - libspatialite >=5.0
  # - nomkl  # Use openblas instead of mkl saves 600 MB. Linux OK, 50% slower on Windows and OSX!
  - numpy
  - packaging
  - pandas
  - psutil
  - pygeoops >=0.4,<0.5
  - pyogrio >=0.5
  - pyproj
  - shapely >=2,<2.1
  # optional
  # - fiona  # Not needed anymore except if pyogio < 0.7 is used. 
  # testing
  - pytest
  - pytest-cov
  # linting
  - pandas-stubs
  - pre-commit
  - ruff
  - types-pillow
  # docs
  - pydata-sphinx-theme
  - pip:
    - sphinx-automodapi==0.13
    # optional
    - simplification
