name: geofileops-dev
channels:
  - conda-forge
dependencies:
  - python=3.9
  - pip
  # required
  - cloudpickle
  - fiona
  - gdal >=3.6.3
  - geopandas>=0.11,<1
  - libspatialite>=5.0
  - numpy
  - pandas
  - psutil
  - pygeos
  - pyogrio
  - pyproj
  - shapely
  - topojson
  # testing
  - pytest
  - pytest-cov
  # linting
  - black
  - flake8
  - pre-commit
  # docs
  - pydata-sphinx-theme
  - pip:
    - sphinx-automodapi==0.13
    - simplification
