name: geofileops-dev
channels:
  - conda-forge
dependencies:
  - python=3.9
  - pip
  # required
  - cloudpickle
  - fiona
  - gdal >=3.6.3
  - geopandas >=0.11
  - libspatialite >=5.0
  - numpy
  - pandas
  - psutil
  #- pygeoops >=0.2,<0.3
  - pyogrio
  - pyproj
  - shapely
  # optional
  - topojson
  # testing
  - pytest
  - pytest-cov
  # linting
  - black
  - pre-commit
  - ruff
  # docs
  - pydata-sphinx-theme
  - pip:
    - pygeoops ==0.3.0a0
    - sphinx-automodapi==0.13
    # optional
    - simplification
