name: geofileops-dev
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pip
  # required
  - cloudpickle
  - fiona
  - gdal >=3.6.4
  - geopandas >=0.12
  - libspatialite >=5.0
  - numpy
  - pandas
  - psutil
  #- pygeoops >=0.3,<0.4
  - pyogrio
  - pyproj
  - shapely >=2,<2.1
  # optional
  - topojson
  # testing
  - pytest
  - pytest-cov
  # linting
  - black >=23,<24
  - pandas-stubs
  - pre-commit
  - ruff
  # docs
  - pydata-sphinx-theme
  - pip:
    - pygeoops ==0.3.0a4
    - sphinx-automodapi==0.13
    # optional
    - simplification
