[tool.pyright]
exclude = ["local_ignore"]
ignore = ["*"]

[tool.mypy]
exclude = ["local_ignore"]

[[tool.mypy.overrides]]
module = "cloudpickle.*,fiona.*,geopandas.*,matplotlib.*,osgeo.*,osgeo_utils.*,pygeos.*,pyogrio.*,psutil.*,setuptools.*,shapely.*,topojson.*"
ignore_missing_imports = true

[tool.pytest.ini_options]
log_level = "DEBUG"
# Write all logging and warnings immediately. Useful for debugging.
# log_cli = true
# addopts = "-p no:warnings"

# Some filters that apply to warnings that can be ignored for any test.
filterwarnings = [
    "ignore: The output driver does not natively support DateTime type",
    "ignore: Field .* create as date field, though DateTime requested",
    "ignore: Field .* created as String field, though DateTime requested",
    "ignore: Geometry is in a geographic CRS",
    "ignore: Normalized/laundered field name",
    "ignore: Non-conformant content for record 0 in column",
    "ignore: Non-conformant content for record 1 in column",
    "ignore: Using GFO_IO_ENGINE=fiona is deprecated",
]

[tool.ruff]
line-length = 88
target-version = "py310"
extend-exclude = ["docs/conf.py", "local_ignore/*"]

[tool.ruff.lint]
select = [
    "YTT",  # flake8-2020
    "ANN",  # flake8-annotations
    "B",  # flake8-bugbear
    "A",  # flake8-builtins
    "PTH",  # flake8-pathlib
    "T10",  # flake8-debugger
    # "SIM",  # flake8-simplify
    "F",  # pyflakes
    "E",  # pycodestyle
    "W",
    "UP",  # pyupgrade
    "PLC",  # pylint
    "PLE",
    "PLR",
    "PLW",
    "PIE",  # misc lints
    "ISC",  # implicit string concatenation
    "TCH",  # type-checking imports
    "C4",  # comprehensions
    "RUF",  # Ruff-specific rules
    "I",  # isort
    "D",  # pydocstyle
]

ignore = [
    ### Intentionally disabled
    "PLR0913",  # Too many arguments to function call
    "PLR0911",  # Too many returns
    "PLR0912",  # Too many branches
    "PLR0915",  # Too many statements
    "PLR2004",  # Magic number
    "PLW2901",  # loop variable overwritten by assignment target
]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["ANN", "D"]
"perftests/*" = ["ANN", "D"]

[tool.ruff.lint.pydocstyle]
convention = "google"
