[tool.pyright]
exclude = ["local_ignore"]
ignore = ["*"]

[tool.mypy]
exclude = ["local_ignore"]

[[tool.mypy.overrides]]
module = "cloudpickle.*,fiona.*,geopandas.*,matplotlib.*,osgeo.*,osgeo_utils.*,pygeos.*,pyogrio.*,psutil.*,setuptools.*,shapely.*,topojson.*"
ignore_missing_imports = true

[tool.pytest.ini_options]
log_level = "DEBUG"
# Write all logging and warnings immediately. Useful for debugging.
# log_cli = true
# addopts = "-p no:warnings"

# Some filters that apply to warnings that can be ignored for any test.
filterwarnings = [
    "ignore: The output driver does not natively support DateTime type",
    "ignore: Field .* create as date field, though DateTime requested",
    "ignore: Geometry is in a geographic CRS",
    "ignore: Normalized/laundered field name",
    "ignore: Non-conformant content for record 0 in column",
    "ignore: Non-conformant content for record 1 in column",
]

[tool.ruff]
line-length = 88
target-version = "py39"
extend-exclude = ["docs/*", "local_ignore/*"]

[tool.ruff.lint]
select = [
    # pyflakes
    "F",
    # pycodestyle
    "E",
    "W",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-debugger
    "T10",
    # flake8-simplify
    # "SIM",
    # pylint
    "PLC",
    "PLE",
    "PLR",
    "PLW",
    # misc lints
    "PIE",
    # implicit string concatenation
    "ISC",
    # type-checking imports
    "TCH",
    # comprehensions
    "C4",
    # Ruff-specific rules
    "RUF",
    # isort
    "I",
    # pydocstyle
    "D",
]

ignore = [
    ### Intentionally disabled
    # module level import not at top of file
    "E402",
    # do not assign a lambda expression, use a def
    "E731",
    # mutable-argument-default
    "B006",
    # unused-loop-control-variable
    "B007",
    # get-attr-with-constant
    "B009",
    # Only works with python >=3.10
    "B905",
    # dict literals
    "C408",
    # Too many arguments to function call
    "PLR0913",
    # Too many returns
    "PLR0911",
    # Too many branches
    "PLR0912",
    # Too many statements
    "PLR0915",
    # Magic number
    "PLR2004",
    # Redefined loop name
    "PLW2901",
    # Global statements are discouraged
    "PLW0603",
    # compare-to-empty-string
    "PLC1901",
    # collection-literal-concatenation
    "RUF005",
]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["D"]

[tool.ruff.lint.pydocstyle]
convention = "google"
