# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
    branches: [ main, v0.** ]
  pull_request:
    branches: [ main, v0.** ]
    paths-ignore:
      - "docs/**"
      - "benchmark/**"
      - ".github/workflows/tests_installed.yml"
      - "*.md"
      - "*.yml"
  schedule:
    # every Wednesday at 3:40 AM
    - cron: "40 3 * * 3"

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.1

  Test:
    needs: Linting
    name: ${{ matrix.env }}, python ${{ matrix.python }}, ${{ matrix.os }}
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dev: [false]
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        env: ["latest"]
        # Use openblas instead of mkl saves 600 MB. Linux OK, 50% slower on Windows and OSX!
        extra: ["nomkl"]
        include:
          - env: minimal
            os: ubuntu-latest
            dev: false
            python: "3.9"
          - env: latest-fiona
            os: windows-latest
            dev: false
            python: "3.11"
          - env: latest
            os: macos-latest
            dev: false
            python: "3.11"
            
    steps:
      - uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: '1.5.1-0'
          environment-file: ci/envs/${{ matrix.env }}.yml
          create-args: >-
            python=${{ matrix.python }}
            ${{ matrix.extra }}
        
      - name: Test
        run: |
          pytest --color=yes --cov=geofileops --cov-append --cov-report term-missing --cov-report xml tests/

      - uses: codecov/codecov-action@v5
      
