name: Docker micromamba Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  MICROMAMBA_DOCKER: 1

# cancel running jobs on new commit to PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  Tests_docker_micromamba:
    name: micromamba Test
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        checkout_ref: ["v0.10.x"]
        container:
          - "mambaorg/micromamba:latest"

    container:
      image: ${{ matrix.container }}
      options: --user=root

    steps:
    - name: Checkout tests
      uses: actions/checkout@v6
      with:
          ref: ${{ matrix.checkout_ref }}
          sparse-checkout: |
            ci
            tests

    - name: Install geofileops and test dependencies
      shell: _entrypoint.sh /bin/bash --noprofile --norc -eo pipefail {0}
      run: |
        micromamba info
        which micromamba
        micromamba install -y -n base geofileops simplification pytest pytest-cov
        micromamba clean --all --yes

    - name: Run Tests
      shell: _entrypoint.sh /bin/bash --noprofile --norc -eo pipefail {0}
      run: |
        pytest --color=yes --cov=geofileops --cov-append --cov-report term-missing --cov-report xml tests/
    