# This workflow will install the latest version of geofileops and run will run its tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: TestsOnInstalled

on:
  pull_request:
    branches: [ main, v0.** ]
  schedule:
    - cron: "0 0 * * *"

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  TestsOnInstalled:    
    name: ${{ matrix.ref }}|python ${{ matrix.python }}|${{ matrix.os }}
    timeout-minutes: 30
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dev: [false]
        python: ["3.11"]
        env: ["installed"]
        include:
          - checkout_ref: v0.7.x
            # Use openblas instead of mkl saves 600 MB. Linux OK, 50% slower on Windows and OSX!
            install_extra: >-
              nomkl
              geofileops=0.7.1

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.checkout_ref }}
          sparse-checkout: |
            ci
            tests
      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          micromamba-version: '1.5.1-0'
          environment-file: ci/envs/${{ matrix.env }}.yml
          create-args: >-
            python=${{ matrix.python }}
            ${{ matrix.install_extra }}

      - name: Test
        run: |
          pytest --color=yes tests/
