# This workflow will install the latest version of geofileops and run will run its tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: TestsOnInstalled

on:
  workflow_dispatch:
  schedule:
    # every Monday to Friday at 5:40 AM
    - cron: "40 5 * * 1-5"
  push:
    paths:
      - ".github/workflows/tests_installed.yml"
  pull_request:
    paths: 
      - ".github/workflows/tests_installed.yml"

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  TestsOnInstalled:    
    name: ${{ matrix.checkout_ref }} - python ${{ matrix.python }} - ${{ matrix.os }}
    timeout-minutes: 30
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        dev: [false]
        python: ["3.12"]
        env: ["installed"]
        include:
          - checkout_ref: "v0.10.x"
            # nomkl: openblas instead of mkl saves 600 MB. Linux OK, but 50% slower on Windows and OSX!
            install_extra_args: >-
              nomkl
              geofileops=0.10

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ matrix.checkout_ref }}
          sparse-checkout: |
            ci
            tests
      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: "2.5.0"
          environment-file: ci/envs/${{ matrix.env }}.yml
          create-args: >-
            python=${{ matrix.python }}
            ${{ matrix.install_extra_args }}

      - name: Test
        run: |
          pytest --color=yes tests/
