# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master, 0.** ]
  pull_request:
    branches: [ master, 0.** ]

jobs:

  Test:
    name: ${{ matrix.os }}, ${{ matrix.env }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dev: [false]
        env:
          - ci/envs/38-latest-conda-forge.yaml
        include:
          - env: ci/envs/38-latest-conda-forge.yaml
            os: macos-latest
            dev: false
          - env: ci/envs/38-latest-conda-forge.yaml
            os: windows-latest
            dev: false
            
    steps:
      - uses: actions/checkout@v2

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: ${{ matrix.env }}

      - name: Test
        run: |
          pytest -v -r s -n auto --color=yes --cov=geofileops --cov-append --cov-report term-missing --cov-report xml 

      - uses: codecov/codecov-action@v2
      
