# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
    branches: [ main, v0.** ]
  pull_request:
    branches: [ main, v0.** ]
  schedule:
    - cron: "0 0 * * *"

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.0

  Test:
    needs: Linting
    name: ${{ matrix.os }} (python ${{ matrix.python }}, env ${{ matrix.env }})
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dev: [false]
        python: ["3.8", "3.9", "3.10", "3.11"]
        env: ["latest.yaml"]
        include:
          - env: minimal.yaml
            os: ubuntu-latest
            dev: false
            python: "3.8"
          - env: latest.yaml
            os: macos-latest
            dev: false
            python: "3.11"
          - env: latest.yaml
            os: windows-latest
            dev: false
            python: "3.11"
            
    steps:
      - uses: actions/checkout@v3

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          micromamba-version: '1.3.1-0'
          environment-file: ci/envs/${{ matrix.env }}
          create-args: >-
            python=${{ matrix.python }}
            ${{ matrix.extra }}
        
      - name: Test
        run: |
          pytest --color=yes --cov=geofileops --cov-append --cov-report term-missing --cov-report xml tests/

      - uses: codecov/codecov-action@v3
      
